@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

:root {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  --cor-fonte-1: #555;
  --cor-fonte-2: #111;
  --cor-links: #fd8a24;
  --cor-header-e-footer: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

header {
  background-color: var(--cor-header-e-footer);
  color: white;
  text-align: center;

  margin-bottom: 20px;
}

header h1 {
  font-size: 1.5em;
  padding: 0.5em;
}

main {
  max-width: 600px;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
}

main h2 {
  font-size: 2.2em;
  font-weight: 700;
  padding-bottom: 0.6em;
}

main h3 {
  font-size: 1em;
}

main div.sharing {
  padding-bottom: 1.2em;
}

main div.sharing a {
  font-size: 1.4em;
  padding-right: 1em;
}

main div.sharing a:hover {
  font-size: 1.7em;
  transition: all 0.5s ease-out;
}

main p {
  font-size: 1.2em;
  color: var(--cor-fonte-2);
  padding-bottom: 15px;
  text-align: justify;
}

main p.time-public {
  font-weight: 300;
  font-size: 0.9em;
}

main img {
  width: 100%;
  padding: 1em;
}

section.text {
  max-width: 550px;
  margin: auto;
}

section.text p {
  padding-top: 20px;
  text-align: justify;
}

footer {
  display: flex;
  flex-direction: column;

  margin-top: 25px;
  padding: 1.3em;
  background-color: var(--cor-header-e-footer);
  text-align: center;
  color: white;
}

footer h4 {
  font-size: 1.3em;
  margin-bottom: 1em;
}

footer a {
  color: var(--cor-links);
  text-decoration: none;
  padding: 0.4em;
}
